@import "tailwindcss";

@layer base {
  body {
    @apply antialiased min-h-screen;
    font-family: 'Inter', system-ui, -apple-system, sans-serif;
  }
  
  ::selection {
    @apply bg-slate-300 text-slate-900;
  }
}

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 4px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 20px;
  }
  .custom-scrollbar:hover::-webkit-scrollbar-thumb {
    background-color: #cbd5e1;
  }
}
